<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>FoodFunday</title>
    </head>
    <body>
        <h1>Welcome To FoodFunday</h1>
    </body>
</html>
